

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contactme">Contact Me</a></li>
        <li><a href="/securearea">Secure Area</a></li>
    </ul>
</nav>


<ul>
    <li><a href="/"><img src="/images/idris_logo2.png" alt="Logo" class="project-image"></a></li>
</ul>
