<!-- /* 
COMP224
Idris Mustapha
301207535
10/04/2023 */ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index_style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
      <%- include('partials/top_navbar') %>
    </header> 

    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to My Portfolio</h1>
            <h3 class="hey">Hello there, I'm <br/><span class="change">Idris Mustapha</span> and I'm a <i>Web designer</i> and <i>Programmer</i></h3>
            <p>I'm a seasoned software engineer with expertise in C#, Linux, Java, PHP, Node.js, databases, project management and Technical Support. My mission is to craft cutting-edge solutions that drive digital success. I'm committed to delivering quality, scalable software and thrive in collaborative, innovative environments. My goal is to make a lasting impact through technology and contribute to a brighter digital future.</p>
            <p>Explore my work, skills, and passion.</p>
            <a href="/about" class="btn">Learn More</a>
        </div>
    </section>


    <footer>
      <%- include('partials/footer_navbar') %>
    </footer>
</body>
</html>
