<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <title>Secure Area</title>
</head>
<body>
    <header>
        <%- include('partials/top_navbar.ejs') %>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1> Sign up form </h1> 
  
            <form action="/register" method="POST"> 
                <input type="text" name="username" placeholder="username" required>

                <input type="text" name="name" placeholder="name" required> 

                <input type="tel" name="number" id="phone" placeholder="number" required>

                <input type="email" name="email" placeholder="email" required>

                <input type="password" name="password" placeholder="password" required> 

                <button>Submit</button> 
            </form> 
            <br>
            <br>

            
            <li><a href="/register">Sign up</a></li> <br>
            <li><a href="/login">Login</a></li> <br>
        </div>
    </section> 
</body>
</html>




