<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <title>Secure Area</title>
</head>
<body>
    <header>
        <%- include('partials/top_navbar.ejs') %>
    </header>
    <section class="hero">
        <div class="hero-content">
            <div class="contact-panel">
                <a href="/register" class="btn link">Register</a><br><br>
                <a href="/login" class="btn link">Login</a><br><br>
                <a href="/contacts" class="btn link">Buisness Contact Lists</a><br><br>
                <a href="/update" class="btn link">Update Lists</a><br><br>
                
            </div>
        </div>
    </section> 
</body>
</html>

